chai
es5-shim
karma
karma-chrome-launcher
karma-firefox-launcher
karma-mocha
karma-phantomjs-launcher
karma-sinon-chai
karma-sourcemap-loader
karma-webpack
mocha
react-tools
sinon
sinon-chai
css-loader
6to5-loader
extract-text-webpack-plugin
file-loader
html-webpack-plugin
json-loader
jshint-loader
jsx-loader
jsxhint-loader
raw-loader
react-hot-loader
sass-loader
style-loader
url-loader
webpack
webpack-dev-server
webpack-error-notification
