<!doctype html>
<!--[if IE 9]>    <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
        <title>Space Synter</title>
        {% if (o.flux) { %}
        <link rel="stylesheet" href="/app.css">
        <script id="server-state" type="text/javascript">window.__STATE__ = {%#o.flux%};</script>
        <script type="text/javascript" src="http://{%=o.host%}/socket.io/socket.io.js"></script>
        {% }%}
    </head>
    <body>
        {% if (o.flux) { %}
        <script type="text/javascript">
            var socket = io('http://{%=o.host%}');

            socket.on('connected', function () {
                window.console.log('socket.io connected');
            });

            socket.on('container', function (data) {
                window.console.log(data.message);
            });
        </script>
        {% } %}
        {% if (o.html) { %}
        {%#o.html%}
        {% } %}
        <script src="/app.js"></script>
    </body>
</html>
